<a href="https://colab.research.google.com/github/myungsworld/Machine-learning/blob/master/%EC%83%81%EB%8B%B9%ED%95%9C_%EB%B3%B4%EC%8A%A4%ED%84%B4_%EC%A7%91%EA%B0%92_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import tensorflow as tf

In [7]:
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [8]:
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]

In [11]:
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [17]:
model.fit(독립,종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 910us/step - loss: 25.4289
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 25.4216
Epoch 3/10
16/16 [==============================] - 0s 991us/step - loss: 25.6349
Epoch 4/10
16/16 [==============================] - 0s 985us/step - loss: 25.1049
Epoch 5/10
16/16 [==============================] - 0s 986us/step - loss: 25.8067
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 25.0985
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 25.7062
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 24.8206
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 25.2873
Epoch 10/10
16/16 [==============================] - 0s 944us/step - loss: 25.2520

In [18]:
model.predict(독립[0:5])

array([[29.64497 ],
       [24.698252],
       [30.68336 ],
       [29.836496],
       [29.285763]], dtype=float32)

In [19]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [20]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.09134404],
        [ 0.06689792],
        [-0.05446149],
        [ 3.1692963 ],
        [ 2.100714  ],
        [ 4.435762  ],
        [ 0.00542827],
        [-0.9288038 ],
        [ 0.15855998],
        [-0.00947262],
        [-0.13633317],
        [ 0.01512637],
        [-0.5390154 ]], dtype=float32), array([3.1286273], dtype=float32)]